/* other packages */
* {
  font-family: 'Mulish', sans-serif;
}
#ohter-packages h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

#hotel-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hotel-card {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 500px;
  margin: 15px;
  border-radius: 8px;
  background-color: #0A223D;
}

.hotel-card .offer {
  position: absolute;
  top: 26px;
  width: 95px;
  height: 30px;
  line-height: 30px;
  border-radius: 0px 4px 4px 0px;
  background-color: #EC1F46;
  color: white;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}


.hotel-card:first-child {
  width: 730px;
}

.hotel-card:first-child img:first:first-child {
  display: inline-block;
  width: 366px;
  height: 500px;
}

.hotel-card .hotel-info {
  width: 300px;
  height: 200px;
  padding: 25px;
}

.hotel-card:first-child .hotel-info {
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 380px;
  padding: 60px 30px;
}

.hotel-info h3 {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.detail {
  display: inline-block;
  width: 299px;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.room-info img {
  width: 14px;
  height: 14px;
}

.room-info p {;
  display: inline-block;
  margin: 5px 5px;
  line-height: 15px;
  font-weight: 400;
  font-size: 12px;
  color: white;
}

.cost {
  display: block;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 14px;
  color: white;
  text-decoration: line-through;
}

.discount {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.hotel-card .button {
  position: absolute;
  right: 20px;
  bottom: 25px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #EC1F46;
  text-decoration: none;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

/* Newsletter */
#newsletter {
  position: relative;
  height: 260px;
  width: 100%;
  background-image: url(../images/newsletter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0A223D;
  background-blend-mode: soft-light;
  margin-top: 55px;
}

#newsletter-content {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 740px;
  height: 75px;
}

#newsletter span {
  display: inline-block;
  color: white;
  margin-right: 139px;
}

#newsletter p {
  margin: 0px;
  font-size: 24px;
}

#newsletter h2 {
  margin: 0px;
  font-size: 36px;
  font-weight: 600;
}

.email-form {
  display: inline-block;
  overflow: hidden;
  width: 350px;
  height: 55px;
	border-radius: 4px;
	background-color: white;
}

.email-form input {
  float: left;
  border: none;
}

.text-field {
  width: 252px;
  height: 55px;
  padding: 0px 0px 0px 33px;
	font-size: 14px;
}

.submit-btn {
  width: 65px;
  height: 55px;
  padding: 0px;
  background-color: #EC1F46;
  font-size: 12px;
  color: white;
  font-weight: 700;
}